@font-face {
    font-family: 'M&SLondon';
    src: local('M&SLondon-bold'), url('./assets/fonts/M&SLondon-Bold.otf') format('OpenType');
    src: local('M&SLondon-light'), url('./assets/fonts/M&SLondon-Light.otf') format('OpenType');
    src: local('M&SLondon-regular'), url('./assets/fonts/M&SLondon-Regular.otf') format('OpenType');
    src: local('M&SLondon-semibold'), url('./assets/fonts/M&SLondon-Semibold.otf') format('OpenType');
}