.datatable {
    height: 700px;
    padding: 20px;
}

.cellAction {
    display: flex;
    align-items: center;
    gap: 15px;
}

.viewButton {
    padding: 2px 5px;
    border-radius: 5px;
    color: #00573F;
    border: 1px solid #00573F;
    cursor: pointer;
}

.deleteButton {
    padding: 2px 5px;
    border-radius: 5px;
    color: crimson;
    border: 1px solid crimson;   
    cursor: pointer;
}